.banner {
  width: 100%;
  max-width: 1280px;
  height: 300px;
  //background-image: url('/banner-inscricao.jpg');
  //background-size: cover;
  //background-position: center;
  position: relative;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}

.banner-overlay {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-content {
  text-align: center;
  color: #fff;
}

.form-wrapper {
  max-width: 980px;
  margin: 40px auto;
  background-color: #fff;
  padding: 32px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.mat-form-field {
  margin-bottom: 16px;
}
